@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bievenidos</h1>
    <p class="lead">Practica de repositorio en github hecho en clases =D </p>
    <h1>Cambio realizado</h1>
    <p><a href="https://www.youtube.com/watch?v=Jj9dvjB61tM" class="btn btn-primary btn-lg"> Ir al video &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>getting started</h2>
       
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301865">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301866">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=jj9dvjb61tm">learn more &raquo;</a></p>
    </div>
</div>*@
